
  .ModalContenedor{

    width: 70%;
  }
  .ValidatetionError{
    font-family: "Segoe UI";
    font-size: small;
    color: #FF0039;
  }
  .TableHead{
    background-color: rgb(39, 128, 227);
    color: white;
  }
  .card-icon-container{
    font-size: 40px;
  }
  .CardBoxAnimation{
    transition: 1s !important;
    
  }
  .CardBoxAnimation:hover{
    transform: scale(1.1) !important;
  }

div.Login{
  background-color: rgb(39, 128, 227) !important;
  position: absolute;
  height: 100%;
  width: 100%;
}
div.login-container{
  width: 400px;
  height: auto;
  margin: 0 auto 200px;
}
.card-body-border{
 border-radius: 13px;
}