
  .ModalContenedor{

    width: 70%;
  }
  .ValidatetionError{
    font-family: "Segoe UI";
    font-size: small;
    color: #FF0039;
  }
  .TableHead{
    background-color: rgb(39, 128, 227);
    color: white;
  }